<h1 id='cart-title'>{{title}}</h1>
<div class='cart-container' id='cart-container'>

	<!-- Cart items list -->
	<div id='cart-items'></div>

	<!-- Cart total -->
	<div class='cart-total' id='cart-total'></div>

	<!-- Delete cart button -->
	<div class='container-buttons j-end'>

	</div>
</div>

<script type='module' src='/js/cart.js'></script>