{{! Vista vacía que será completada dinámicamente por product.js }}
<h1 id='products-title'>Product Detail</h1>

<div class='product-container'>
	{{! El contenido se inyectará desde product.js }}
</div>

<script type='module' src='/js/product.js'></script>